.footer {
  background: #353535;
  color: #ffffff;
  padding: $section-padding;
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__title {
    font-family: $title-font;
    @include desktop {
      width: 100%;
      text-align: center;
    }
  }
  &__icon {
    min-width: 30px;
  }
  a {
    color: #ffffff;
  }
}
