.header {
  width: 100vw;
  margin-top: 5px;
  &__icon {
    float: left;
    margin: 6%;
    font-size: 1.13rem;
    &:active {
      display: none;
    }
  }
  &__title {
    width: fit-content;
    margin: auto;
    line-height: 60px;
    font-size: 1.88rem;
  }
}
