.header {
  background: #ffffff;
  width: 100vw;
  margin-top: 5px;
  &__icon {
    float: left;
    margin: 20px;
    font-size: 1.13rem;
    position: absolute;
  }
  &__title {
    text-align: center;
    margin: auto;
    line-height: 60px;
    font-size: 1.88rem;
  }
}
