html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p,
button,
input {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 1.13rem;
}

h3,
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

.header {
  background: #ffffff;
  width: 100vw;
  margin-top: 5px;
}
.header__icon {
  float: left;
  margin: 20px;
  font-size: 1.13rem;
}
.header__icon:active {
  display: none;
}
.header__title {
  width: fit-content;
  margin: auto;
  line-height: 60px;
  font-size: 1.88rem;
}

.section-location {
  background: #eaeaea;
  text-align: center;
}
.section-location__icon {
  margin-right: 15px;
}
.section-location__text {
  display: inline-block;
}

.section-explore {
  background: #f6f6f6;
  text-align: center;
  padding: 30px 30px 55px 30px;
}
.section-explore__title {
  padding: 0 20px;
}

.section-steps {
  padding: 5vw;
}
.section-steps__step {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(100vw - 50px);
  margin: 20px auto;
  border-radius: 20px;
}
.section-steps__number {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
  position: relative;
  left: -12px;
}
.section-steps__icon {
  color: #7e7e7e;
  margin: 20px;
  display: inline-block;
}
.section-steps__text {
  display: inline-block;
}

.section-restaurants {
  padding: 5vw;
  background: #f6f6f6;
}
.section-restaurants__card {
  height: 248px;
  width: auto;
  border-radius: 25px;
  margin: 1.25rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-restaurants__card__img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 75px);
  border-radius: 25px 25px 0 0;
}
.section-restaurants__card__title {
  margin: 0.5rem 0.75rem;
  font-weight: bold;
}
.section-restaurants__card__text {
  margin: 0.5rem 0.75rem;
}
.section-restaurants__card__icon {
  float: right;
  width: 70px;
  text-align: center;
  padding: 25px 0;
  font-size: 1.25rem;
}

.footer {
  background: #353535;
  color: #ffffff;
  padding: 5vw;
}
.footer__title {
  font-family: "Shrikhand", cursive;
}
.footer__icon {
  min-width: 30px;
}

.btn {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card {
  background: #ffffff;
  border-radius: 25px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card__title {
  font-size: 1.13rem;
  font-weight: 400;
}
.card__text {
  font-size: 1rem;
  font-weight: 100;
}
.card__span {
  float: right;
  font-weight: bold;
}

.animated-heart {
  font-weight: 100;
  transition: font-weight 200ms;
}
.animated-heart:hover {
  font-weight: 900;
}
.animated-heart:hover {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animated-heart:hover::before {
  background-image: none;
  transition: background-image 200ms;
}

.main {
  background: url(http://placekitten.com/500/400) top center no-repeat;
  padding-top: 220px;
}

.section-menu {
  background: #f6f6f6;
  border-radius: 45px 45px 0 0;
  padding: 30px 20px;
}
.section-menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  margin-block-end: 2.13rem;
}
.section-menu__course {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
