.card {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  @include box-shadow;
  @include tablet {
    width: 30%;
  }
  margin: 0.75rem 0;
  &__item {
    padding: 5px 10px;
    border-radius: 25px 0 0 25px;
    background: #ffffff;
    flex-grow: 1;
    min-width: 0;
    &__title {
      font-size: 1.13rem;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__text {
      font-size: 1rem;
      font-weight: 100;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__span {
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-weight: bold;
    }
  }
  &__check {
    width: 0px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    color: #fff;
    border-radius: 0 25px 25px 0;
    transition: opacity 200ms, width 400ms;
    &__icon {
      font-size: 1.5rem;
      transition: transform 400ms;
    }
  }
  &:hover .card__check {
    width: 200px;
    opacity: 1;
    &__icon {
      transform: rotate(360deg);
    }
  }
}
