.card {
  background: #ffffff;
  border-radius: 25px;
  padding: 10px;
  @include box-shadow;
  &__title {
    font-size: 1.13rem;
    font-weight: 400;
  }
  &__text {
    font-size: 1rem;
    font-weight: 100;
  }
  &__span {
    float: right;
    font-weight: bold;
  }
}
