.main {
  background: url(http://placekitten.com/500/400) top center no-repeat;
  padding-top: 220px;
}
.section-menu {
  background: #f6f6f6;
  border-radius: 45px 45px 0 0;
  padding: 30px 20px;
  &__title {
    font-family: $title-font;
    font-size: 1.75rem;
    margin-block-end: 2.13rem;
  }
  &__course {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
    background-image: linear-gradient(
      to right,
      $color-tertiary 80%,
      transparent 20%
    );
    background-position: 0 1em;
    background-repeat: no-repeat;
    background-size: 50px 3px;
  }
}
