@mixin box-shadow(
  $color: rgba(100, 100, 111, 0.2),
  $top: 0,
  $right: 7px,
  $bottom: 29px,
  $left: 0
) {
  box-shadow: $color $top $right $bottom $left;
}
@mixin gradient(
  $direction: bottom right,
  $color-one: $color-secondary,
  $color-two: $color-primary
) {
  background-image: linear-gradient(to $direction, $color-one, $color-two);
}
@mixin circle {
  height: 25px;
  width: 25px;
  background-color: $color-primary;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
}
@mixin restaurand-card {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 75px);
  border-radius: 25px 25px 0 0;
}
@mixin bkg-img($restaurant-image) {
  @each $restaurant, $img in $restaurant-image {
    &-#{$restaurant} {
      background: url($img) top center no-repeat;
      background-size: contain;
      padding-top: 220px;
      @include desktop {
        padding-top: 450px;
      }
    }
  }
}
@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
