$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);
$section-padding: 5vw;
$margin-cards: 1.25rem 0;

$title-font: "Shrikhand", cursive;
$main-font: "Roboto", sans-serif;

$anim-delay: 1s;
$anim-dur: 1s;
